@font-face {
    font-family: 'Made Mirage';
    src: url('fonts/made-mirage/made-mirage-regular.woff2') format('woff2'),
         url('fonts/made-mirage/made-mirage-regular.woff') format('woff'),
         url('fonts/made-mirage/made-mirage-regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    background-color: #1a1a1a;
    overflow-y: auto;
    padding: 40px;
    font-family: 'Made Mirage', 'sans-serif';
}

.title {
    color: white;
    margin: 20px 0;
    position: absolute;
    top: 20px;
    left: 50px;
}

.title h1, .title h2 {
    font-family: 'Made Mirage', 'sans-serif';
    margin: 0;
    color: inherit;
}

.title h1 {
    font-size: 40px;
    opacity: 0.6;
}

.title h2 {
    font-size: 30px;
    opacity: 0.4;
    color: white;
}

.title p {
    margin: 5px 0;
    color: white;
    font-family: 'Made Mirage', 'sans-serif';
    font-size: 16px;
    opacity: 0.6;
    max-width: 800px;
    text-align: left;
}

a {
    color: rgb(171, 171, 171);
    text-decoration: none;
    transition: color 0.3s;
}

a:hover,
a:active {
    color: #ff9690;
}
  
.back-link {
    position: absolute;
    top: 50px;
    right: 50px;
    color: rgb(171, 171, 171);
    text-decoration: none;
    font-family: 'Made Mirage', 'sans-serif';
    transition: color 0.3s;
}

.back-link:hover {
    color: #ff9690;
}


.project-showcase {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

.project-showcase p {
    color: white;
    font-family: 'Made Mirage', 'sans-serif';
    font-size: 16px;
    opacity: 0.6;
    max-width: 800px;
    text-align: center;
}

.project-showcase small {
    margin-top: 5px;
    font-size: 14px;
    color: #ff9690;
    text-align: center;
    font-style: italic;
}

.project-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;
    gap: 15px 10px;
}

.project-item {
    flex: 0 1 calc(40% - 10px); 
    text-align: left;
    margin-bottom: 30px;
    min-width: 290px;
    max-width: 300px;
}

.project-item img {
    width: 100%;
    height: auto;
    border-radius: 0;
    box-shadow: none;
    display: block;
}

.project-title {
    font-size: 30px;
    opacity: 0.4;
    color: white;
    font-family: 'Made Mirage', 'sans-serif';
    margin: 0;
    padding: 0;
    line-height: 1.2;
    display: block;
    text-align: center;
}

.project-title:hover {
    opacity: 1;
    color: #ff9690;
    cursor: pointer;
}


@media screen and (max-width: 768px) {
    .title {
        left: 20px;
    }

    .project-item {
        flex: 0 1 100%;
    }

    .subtitle, .subtitle2, .subtitle3 {
        left: 20px;
    }

    .subtitle p, .subtitle2 p, .subtitle3 p {
        font-size: 13px;
        margin: 5px 0;
    }

    .container {
        margin: 20px 0;
        flex-direction: column;
        align-items: center;
        max-width: 100%;
        margin-right: 0;
    }

    .back-link {
        top: 45px;
        right: 20px;
        color: rgb(171, 171, 171);
    }

    .back-link:hover,
    .back-link:active {
        color: #ff9690;
    }

    .title h1 {
        font-size: 30px;
    }

    .title h2 {
        font-size: 24px;
    }

    .container {
        align-items: center;
    }
}
