@font-face {
    font-family: 'Made Mirage';
    src: url('fonts/made-mirage/made-mirage-regular.otf') format('opentype');
}

@font-face {
    font-family: 'Made Mirage Thin';
    src: url('fonts/made-mirage/made-mirage-thin.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    align-items: center;
    min-height: 100vh;
    background-color: #1a1a1a;
    color: white;
    font-family: 'Made Mirage', 'sans-serif';
    margin-top: 30px;
    padding: 120px 20% 90px 20%; 
    overflow-x: hidden;
}

section {
    width: 100%;
    max-width: 800px;
    text-align: left;
  }

  #map {
    max-width: none;  
  }

.title {
    color: white;
    margin: 20px 0;
    position: absolute;
    top: 20px;
    left: 50px;
}

.title h1, .title h2 {
    font-family: 'Made Mirage', 'sans-serif';
    margin: 0;
    color: inherit;
}

.title h1 {
    font-size: 40px;
    opacity: 0.6;
}

.title h2 {
    font-size: 30px;
    opacity: 0.4;
    color: white;
}

.title p {
    margin: 5px 0;
    color: white;
    font-family: 'Made Mirage', 'sans-serif';
    font-size: 16px;
    opacity: 0.6;
    max-width: 800px;
    text-align: left;
}


.text-content {
    max-width: 600px;
    margin-right: 100px;
}

.horizontal-nav {
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 2rem;
    font-size: 0.9rem;
    font-family: inherit;
  }
  
  .horizontal-nav a {
    margin: 0 0.4rem;
    text-decoration: none;
    color: var(--text-color); 
  }
  
  .horizontal-nav a:hover {
    text-decoration: underline;
  }
  
h1 {
    font-size: 40px;
    margin-top: 60px;
    margin-bottom: 1px;
    text-align: left;
    font-family: 'Made Mirage', 'sans-serif';
}

p {
    font-size: 15px;
    margin-bottom: 2px;
    font-family: 'Made Mirage', 'sans-serif';
}

li {
    font-size: 15px;
    margin-bottom: 2px;
    font-family: 'Made Mirage', 'sans-serif';
}

a {
    color: rgb(171, 171, 171);
    text-decoration: none;
    transition: color 0.3s;
    font-family: 'Made Mirage', 'sans-serif';
}

a:hover,
a:active {
    color: #ff9690;
    text-decoration: none;
}

.bottom-margin {
    margin-bottom: 20px;
}

.back-link {
    position: absolute;
    top: 50px;
    right: 50px;
    color: rgb(171, 171, 171);
    text-decoration: none;
    font-family: 'Made Mirage', 'sans-serif';
    transition: color 0.3s;
}

.back-link:hover {
    color: #ff9690;
}
.photo-container {
    display: flex;
    justify-content: center;
    margin: 2rem 0;
}
.photo {  
    max-width: 500px; 
    height: auto;       
    opacity: 0.9; 
}

.quote {
    color: #d5a19f; 
    font-size: 15px;
    font-style: italic;
    justify-content: center;
    align-items: center;
  }

  .footnotes {
    font-size: 12px;
    color: #666;
    font-style: italic;
    margin-top: 1rem;
  }
  
  
  .pink {
    color: #d5a19f;
  }

  .map-container {
    position: relative; 
    width: 100%;         
    z-index: 10;
  }

  .map p {
    margin-bottom: -60px;
    line-height: 1.2;
    text-align: center;
}

  path {
    fill: rgb(166, 166, 166);
    stroke: #1a1a1a;
    transition: fill 300ms, transform 300ms;
    transform-box: fill-box; 
    transform-origin: center; 
    cursor: pointer;
}

path:default {
    fill: rgb(166, 166, 166);
}
    path:hover {
        fill: #ff9690;
        transform: scale(1.1);
    }

    path.hover {
        fill: #ff9690;
    }

    path.active {
        fill: #963333;
    }

    path.clicked {
        fill: #450303;
    }

    .right {
        position: absolute;
        top: 13%;
        left: 80%;
        transform: translateX(-50%);
        display: flex;
        flex-direction: column;
        align-items: center;
        z-index: 10;
    }
    
    .panel {
        position: relative; 
        width: 300px;
        height: 450px;
        background-color: #450303;
        padding: 0 40px;
        border-radius: 15px;
        overflow: scroll;
    }

.panel .container {
    padding-block: 2em;
    transition: 200ms ease-out;
}

.panel-open {
    display: block; /* Show panel when open */
    left: 0;
}

#panel-title {
    text-align: center;      
    font-size: 24px;     
    font-weight: bold;       
    margin-bottom: 2px; 
    color: white;    
}

  
  #panel-content .small-font {
    font-size: 12.5px;
    opacity: 0.75;
    font-style: italic;
    margin-bottom: 6px;
  }
  
#panel-content .normal {
    font-size: 14px;
    margin-bottom: px;
}

.hide {
    display: none; 
}

.close-btn {
    position: absolute;
    top: 0;
    right: 0;
    width: 3em;
    height: 3em;
    border: none;
    background-color: #511e1e;
    color: #fff;
    transition: 100ms;
    cursor: pointer;
    z-index: 20; 
}

.panel .container p {
    font-size: 14px;
    padding: 2em;
}

#reset-btn {
    margin-top: 20px; 
    background-color: #2b2b2b;
    border-radius: 15px;     
    padding: 10px 20px;
    cursor: pointer;
    font: inherit;
    font-size: 16px;
    transition: background-color 0.3s;
    position: relative;
}

#reset-btn.active {
    background-color: #ede8d1;
}

#reset-btn:hover {
    transform: scale(1.05);
}





@media screen and (max-width: 768px) {
    .photo {
        width: 100%;
        max-width: 100%;
    }
    body {
        padding-left: 5%;
        padding-right: 5%;
        margin-top: 0px;
        margin-left: 0;
        box-sizing: border-box;
        overflow-x: hidden;
    }

    .profile-section {
        flex-direction: column;
        align-items: center;
        max-width: 100%;
    }

    .text-content {
        margin-right: 0;
        max-width: 100%;
        text-align: left;
    }

    h1 {
        font-size: 30px;
    }

    p {
        font-size: 14px;
        margin: none;
    }

    li {
        font-size: 14px;
    }

    .quote {
        color: #ff9690;
        font-size: 14px;
        font-style: italic;
        text-align: center;
      }

      .footnotes {
        font-size: 11px;
        color: #666;
        font-style: italic;
        margin-top: 1rem;
      }

    .back-link {
        top: 70px;
        right: 30px;
        color: rgb(171, 171, 171);
    }

    .back-link:hover,
    .back-link:active {
        color: #ff9690;
    }

    .pink {
        color: #ff9690;
    }

    .map-container {
        overflow: visible;
    }

    .map-container svg {
        width: 350%;
        height: auto;
        margin-left: -10%;
        margin-top: -15%;
        margin-bottom: -60%;
        display: block;
    }

    .map p {
        font-size: 11px;
        margin-bottom: -20px;
    }

    .right {
        position: static;
        margin-top: 10px;
        transform: none;
    }

    .panel {
        width: 85%;
        max-width: 85%;
        height: auto;
        min-height: 200px;
        max-height: 400px;
        padding: 0 20px;
        margin: 0 auto;
        border-radius: 15px;
    }

    .panel img {
        max-width: 60%;
        height: auto;
        display: block;
        margin: 10px auto;
    }

    .title {
        left: 20px;
    }

    .title h1 {
        font-size: 30px;
    }

    .title h2 {
        font-size: 24px;
    }
}
