@font-face {
    font-family: 'Made Mirage';
    src: url('fonts/made-mirage/made-mirage-thin.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #1a1a1a;
    color: white;
    font-family: 'Made Mirage Thin', 'sans-serif';
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    margin-top: 1.5%;
    padding-left: 20%;
    padding-right: 20%;
}

.content-container {
    max-width: min(90%, 60ch);
    margin: 0;
    padding: 20px;
    padding-left: 67px;
    text-align: left; /* Left-aligning text within the content container */
}

h1 {
    font-size: 40px;
    margin-top: 3rem;
    margin-bottom: 1px;
    text-align: left; /* Left-aligning h1 text */
    font-family: 'Made Mirage', 'sans-serif';
}

p {
    font-size: 15px;
    margin-bottom: 2px;
    font-family: 'Made Mirage Thin', 'sans-serif';
}

.p-padding {
    padding-bottom: 10px;
}

a {
    color: #ff9690;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.light-gray-text {
    color: #545454; /* Light gray color for the specified text */
}

