@font-face {
    font-family: 'Made Mirage';
    src: url('fonts/made-mirage/made-mirage-regular.otf') format('opentype');
}

@font-face {
    font-family: 'Made Mirage Thin';
    src: url('fonts/made-mirage/made-mirage-thin.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    align-items: center;
    min-height: 100vh;
    background-color: #1a1a1a;
    color: white;
    font-family: 'Made Mirage', 'sans-serif';
    margin-top: 30px;
    padding: 120px 20% 90px 20%; 
    overflow-x: hidden;
}

section {
    width: 100%;
    max-width: 800px;
    text-align: left;
  }

  #map {
    max-width: none;  
  }

.title {
    color: white;
    margin: 20px 0;
    position: absolute;
    top: 20px;
    left: 50px;
}

.title h1, .title h2 {
    font-family: 'Made Mirage', 'sans-serif';
    margin: 0;
    color: inherit;
}

.title h1 {
    font-size: 40px;
    opacity: 0.6;
}

.title h2 {
    font-size: 30px;
    opacity: 0.4;
    color: white;
}

.title p {
    margin: 5px 0;
    color: white;
    font-family: 'Made Mirage', 'sans-serif';
    font-size: 16px;
    opacity: 0.6;
    max-width: 800px;
    text-align: left;
}


.text-content {
    max-width: 600px;
    margin-right: 100px;
}

.horizontal-nav {
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 2rem;
    font-size: 0.9rem;
    font-family: inherit;
  }
  
  .horizontal-nav a {
    margin: 0 0.4rem;
    text-decoration: none;
    color: var(--text-color); 
  }
  
  .horizontal-nav a:hover {
    text-decoration: underline;
  }
  
h1 {
    font-size: 40px;
    margin-top: 60px;
    margin-bottom: 1px;
    text-align: left;
    font-family: 'Made Mirage', 'sans-serif';
}

p {
    font-size: 15px;
    margin-bottom: 2px;
    font-family: 'Made Mirage', 'sans-serif';
}

li {
    font-size: 15px;
    margin-bottom: 2px;
    font-family: 'Made Mirage', 'sans-serif';
}

a {
    color: rgb(171, 171, 171);
    text-decoration: none;
    transition: color 0.3s;
    font-family: 'Made Mirage', 'sans-serif';
}

a:hover,
a:active {
    color: #ff9690;
    text-decoration: none;
}

.bottom-margin {
    margin-bottom: 20px;
}

.back-link {
    position: absolute;
    top: 50px;
    right: 50px;
    color: rgb(171, 171, 171);
    text-decoration: none;
    font-family: 'Made Mirage', 'sans-serif';
    transition: color 0.3s;
}

.back-link:hover {
    color: #ff9690;
}
.photo-container {
    display: flex;
    justify-content: center;
    margin: 2rem 0;
}
.photo {  
    max-width: 500px; 
    height: auto;       
    opacity: 0.9; 
}

  .pink {
    color: #d5a19f;
  }



@media screen and (max-width: 768px) {
    .photo {
        width: 100%;
        max-width: 100%;
    }
    body {
        padding-left: 5%;
        padding-right: 5%;
        margin-top: 0px;
        margin-left: 20px;
    }

    .profile-section {
        flex-direction: column;
        align-items: center;
        max-width: 100%;
    }

    .text-content {
        margin-right: 0;
        max-width: 100%;
        text-align: left;
    }

    h1 {
        font-size: 30px;
    }

    p {
        font-size: 14px;
        margin: none;
    }

    li {
        font-size: 14px;
    }
    
    .quote {
        color: #ff9690; 
        font-size: 14px;
        font-style: italic;
        text-align: center;
      }
    
      .footnotes {
        font-size: 11px;
        color: #666;
        font-style: italic;
        margin-top: 1rem;
      }

    .back-link {
        top: 70px;
        right: 30px;
        color: rgb(171, 171, 171);
    }

    .back-link:hover,
    .back-link:active {
        color: #ff9690;
    }

    .pink {
        color: #ff9690;
    }
    
}
