@font-face {
    font-family: 'Made Mirage';
    src: url('fonts/made-mirage/made-mirage-regular.otf') format('opentype');
}

@font-face {
    font-family: 'Made Mirage Thin';
    src: url('fonts/made-mirage/made-mirage-thin.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #1a1a1a;
    color: white;
    font-family: 'Made Mirage', 'sans-serif';
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    margin-top: 30px;
    padding-left: 20%;
    padding-right: 20%;
    padding-bottom: 90px;
}

.profile-section {
    display: flex;
    align-items: flex-start;
    max-width: 800px;
}

.text-content {
    max-width: 600px;
    margin-right: 100px;
}

h1 {
    font-size: 40px;
    margin-top: 60px;
    margin-bottom: 1px;
    text-align: left;
    font-family: 'Made Mirage', 'sans-serif';
}

p {
    font-size: 15px;
    margin-bottom: 2px;
    font-family: 'Made Mirage', 'sans-serif';
}

a {
    color: rgb(171, 171, 171);
    text-decoration: none;
    transition: color 0.3s;
    font-family: 'Made Mirage', 'sans-serif';
}

a:hover,
a:active {
    color: #ff9690;
    text-decoration: none;
}

.bottom-margin {
    margin-bottom: 20px;
}

.profile-photo {
    width: 300px;
    height: auto;
    opacity: 0.5;
    margin-right: 10px;
    margin-top: 80px;
}

.back-link {
    position: absolute;
    top: 80px;
    right: 120px;
    color: rgb(171, 171, 171);
    text-decoration: none;
    font-family: 'Made Mirage', 'sans-serif';
    transition: color 0.3s;
}

.back-link:hover {
    color: #ff9690;
    text-decoration: none;
}

@media screen and (max-width: 768px) {
    body {
        padding-left: 5%;
        padding-right: 5%;
        margin-top: 0px;
        margin-left: 0;
        box-sizing: border-box;
    }

    .profile-section {
        flex-direction: column;
        align-items: center;
        max-width: 100%;
    }

    .text-content {
        margin-right: 0;
        max-width: 100%;
        text-align: left;
    }

    .profile-photo {
        margin-top: 20px;
        width: 80%;
        opacity: 1;
    }

    h1 {
        font-size: 30px;
    }

    p {
        font-size: 14px;
    }

    .back-link {
        top: 70px;
        right: 30px;
        color: rgb(171, 171, 171);
    }

    .back-link:hover,
    .back-link:active {
        color: #ff9690;
    }
}
