@font-face {
    font-family: 'Made Mirage';
    src: url('fonts/made-mirage/made-mirage-regular.otf') format('opentype');
    font-family: 'Made Mirage Thin';
    src: url('fonts/made-mirage/made-mirage-thin.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Made Mirage Thin', sans-serif;
}

body {
    background-color: #1a1a1a;
    color: white;
    font-family: 'Made Mirage Thin', 'sans-serif';
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    margin-top: 1.5%;
    padding-left: 20%;
    padding-right: 20%;
    overflow: hidden;
}

.container {
    align-items: center;
    min-height: 100vh;
    background: #0f0f0f;
    overflow: hidden;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
}

.container .card {
    position: absolute;
    width: 240px;
    height: 320px;
    border-radius: 8px;
    background: #ff9690;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(0, 0, 0, 0);
    font-size: 12px;
    border: 10px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: 0.5s;
    transform-origin: 50% 100%;
    filter: hue-rotate(calc(var(--i)*45deg));
    box-shadow: 0 15px 50px rgba(0, 0, 0, 0.1);
}

.container:hover .card {
    transform: rotate(calc(var(--i) * 5deg)) translate (calc(var(--i) * 120px), -50px);
    color: rgba(0, 0, 0, 2);
    box-shadow: 0 15px 50px rgba(0, 0, 0, 0.3);
}

.container:active .card {
    background: #1a1a1a;
}

.container .card:active{
    translate: calc(var(--i) * 30px) - 50px;
    z-index: 100;
    background: #1a1a1a
}
